In [ ]:
#KAMLESH S NRUPNARAYAN
#USN:21BTRCD014

In [15]:
import pandas as pd
import numpy as np

In [ ]:
Creating a dataset of house

In [16]:
#Creating a dataset of house

data = {'Rooms': [3, 4, 2, 5, 3, 2, np.nan, 4],
        'Bathrooms': [2, 3, 1, 4, 2, 1, 2, np.nan],
        'Square_Footage': [1500, 2000, 1200, 2500, 1800, 1000, 1700, 2100],
        'Neighborhood': ['Amaravati', 'Wardha', 'Rural', 'Market', 'Jabalpur', 'Rural', 'MP', 'Nagpur'],
        'Year_Built': [1990, 2005, 1980, 2010, 2000, 1995, np.nan, 2015],
        'Price': [500000, 600000, 450000, 700000, 800000, 350000, 550000, np.nan]}

In [17]:
house_data = pd.DataFrame(data)

print(house_data)

In [ ]:
dropna()

In [19]:
#removing rows with missing values
house_data.dropna()

   Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price
0    3.0        2.0            1500    Amaravati      1990.0  500000.0
1    4.0        3.0            2000       Wardha      2005.0  600000.0
2    2.0        1.0            1200        Rural      1980.0  450000.0
3    5.0        4.0            2500       Market      2010.0  700000.0
4    3.0        2.0            1800     Jabalpur      2000.0  800000.0
5    2.0        1.0            1000        Rural      1995.0  350000.0

In [20]:
#nan values
house_data.dropna(thresh=2)

   Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price
0    3.0        2.0            1500    Amaravati      1990.0  500000.0
1    4.0        3.0            2000       Wardha      2005.0  600000.0
2    2.0        1.0            1200        Rural      1980.0  450000.0
3    5.0        4.0            2500       Market      2010.0  700000.0
4    3.0        2.0            1800     Jabalpur      2000.0  800000.0
5    2.0        1.0            1000        Rural      1995.0  350000.0
6    NaN        2.0            1700           MP         NaN  550000.0
7    4.0        NaN            2100       Nagpur      2015.0       NaN

In [ ]:
fillna()

In [21]:
# replacing missing values in the Rooms column with the mean of the column
house_data['Rooms'].fillna(house_data['Rooms'].mean(), inplace=True)

In [22]:
print(house_data)

      Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price
0  3.000000        2.0            1500    Amaravati      1990.0  500000.0
1  4.000000        3.0            2000       Wardha      2005.0  600000.0
2  2.000000        1.0            1200        Rural      1980.0  450000.0
3  5.000000        4.0            2500       Market      2010.0  700000.0
4  3.000000        2.0            1800     Jabalpur      2000.0  800000.0
5  2.000000        1.0            1000        Rural      1995.0  350000.0
6  3.285714        2.0            1700           MP         NaN  550000.0
7  4.000000        NaN            2100       Nagpur      2015.0       NaN

In [26]:
house_data['Bathrooms'].fillna(house_data['Bathrooms'].median(), inplace=True)

In [24]:
print(house_data)

      Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price
0  3.000000        2.0            1500    Amaravati      1990.0  500000.0
1  4.000000        3.0            2000       Wardha      2005.0  600000.0
2  2.000000        1.0            1200        Rural      1980.0  450000.0
3  5.000000        4.0            2500       Market      2010.0  700000.0
4  3.000000        2.0            1800     Jabalpur      2000.0  800000.0
5  2.000000        1.0            1000        Rural      1995.0  350000.0
6  3.285714        2.0            1700           MP         NaN  550000.0
7  4.000000        NaN            2100       Nagpur      2015.0       NaN

In [ ]:
replace()

In [27]:
# replacing categorical values with numeric data
house_data['Neighborhood'] = house_data['Neighborhood'].replace({'Amaravati': 1, 'Wardha': 2, 'Rural': 3})

In [28]:
print(house_data)

      Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price
0  3.000000   2.000000            1500            1      1990.0  500000.0
1  4.000000   3.000000            2000            2      2005.0  600000.0
2  2.000000   1.000000            1200            3      1980.0  450000.0
3  5.000000   4.000000            2500       Market      2010.0  700000.0
4  3.000000   2.000000            1800     Jabalpur      2000.0  800000.0
5  2.000000   1.000000            1000            3      1995.0  350000.0
6  3.285714   2.000000            1700           MP         NaN  550000.0
7  4.000000   3.142857            2100       Nagpur      2015.0       NaN

In [ ]:
category()

In [29]:
# converting Neighborhood column to a categorical data type
house_data['Neighborhood'] = house_data['Neighborhood'].astype('category')

In [30]:
print(house_data.dtypes)

Rooms              float64
Bathrooms          float64
Square_Footage       int64
Neighborhood      category
Year_Built         float64
Price              float64
dtype: object

In [31]:
neighborhood_dummies = pd.get_dummies(house_data['Neighborhood'], prefix='Neighborhood')

In [32]:
house_data = pd.concat([house_data, neighborhood_dummies], axis=1)

In [33]:
print(house_data)

      Rooms  Bathrooms  Square_Footage Neighborhood  Year_Built     Price  \
0  3.000000   2.000000            1500            1      1990.0  500000.0
1  4.000000   3.000000            2000            2      2005.0  600000.0
2  2.000000   1.000000            1200            3      1980.0  450000.0
3  5.000000   4.000000            2500       Market      2010.0  700000.0
4  3.000000   2.000000            1800     Jabalpur      2000.0  800000.0
5  2.000000   1.000000            1000            3      1995.0  350000.0
6  3.285714   2.000000            1700           MP         NaN  550000.0
7  4.000000   3.142857            2100       Nagpur      2015.0       NaN

   Neighborhood_1  Neighborhood_2  Neighborhood_3  Neighborhood_Jabalpur  \
0               1               0               0                      0
1               0               1               0                      0
2               0               0               1                      0
3               0               0               0                      0
4               0               0               0                      1
5               0               0               1                      0
6               0               0               0                      0
7               0               0               0                      0

   Neighborhood_MP  Neighborhood_Market  Neighborhood_Nagpur
0                0                    0                    0
1                0                    0                    0
2                0                    0                    0
3                0                    1                    0
4                0                    0                    0
5                0                    0                    0
6                1                    0                    0
7                0                    0                    1